<h1>Lista destinazioni</h1>

<div class="container">
    <div class="row" > 
        <div *ngFor="let dest of elencoDestinazioni" class="card" style="width: 18rem;">
            <img [src]="dest?.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ dest.nom }} - {{ dest.pae }}</h5>
              <p class="card-text">{{ dest.des }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="card-link">Visualizza pacchetti</a></li>
              <li class="list-group-item"><a href="#" class="card-link">Visualizza recensioni</a></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Modifica</a>
              <a href="#" class="card-link">Elimina</a>
            </div>
          </div>
    </div>
</div>
