<h1>Pacchetti Vacanza</h1>

<div class="container">
    <div class="row" > 
        <div *ngFor="let pacco of elencoPacchetti" class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ pacco.nom }}</h5>
              <p class="card-text">{{ pacco.pri }}€</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="card-link">Visualizza recensioni</a></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Modifica</a>
              <a href="#" class="card-link">Elimina</a>
            </div>
          </div>
    </div>
</div>
